<div class="container">
    <h2>Registration Form</h2>
    <form name="registrationForm" ng-submit="submitForm()">
       
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" ng-model="user.firstName" required>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" ng-model="user.lastName" required>

        <label for="dob">Date of Birth:</label>
        <input type="text" id="dob" ng-model="user.dob" placeholder="dd-mm-yyyy" required>
        
        <label for="age">Age:</label>
        <input type="number" id="age" ng-model="user.age" required>

        <label for="country">Country:</label>
        <input type="text" id="country" ng-model="user.country" required>

        <label for="state">State:</label>
        <input type="text" id="state" ng-model="user.state" required>

        
        <button type="submit" ng-disabled="registrationForm.$invalid">Register</button>
    </form>
</div>
